p@model IEnumerable<HospitalProyecto.Models.Cita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"> Lista de Citas</div>

    <div class="panel-body ">
        @Html.ActionLink("Add", "Create", "Cita", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-right" })
    </div>
    @*<h2>Citas</h2>*@

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.medico.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paciente.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.medico.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paciente.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    <a id="enlaceDetalles" data-toggle="modal" data-target="#modalDetalles" nomatricula="@item.citaID">Detalles</a> |
                    <a id="enlaceBorrar" data-toggle="modal" data-target="#modalBorrar" nomatricula="@item.citaID">Borrar</a> |
                    <a id="enlaceEditar" data-toggle="modal" data-target="#modalEditar" nomatricula="@item.citaID">Editar</a>
                </td>
                @*<td style="width:20px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Details", "Details", new { id = item.citaID }, new { data_modal = "" })</li>
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.citaID }, new { data_modal = "" })</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.citaID }, new { data_modal = "" })</li>

                            </ul>
                        </div>
                    </td>*@
            </tr>
        }
    </table>

    <div id="modalDetalles" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalles</h4>
                </div>
                <div class="modal-body">
                    <!-- VISTA DE DETALLES DE ALUMNO-->
                    @*Html.Partial("Details", vmAlumno)*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalBorrar" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar</h4>
                </div>
                <div class="modal-body">
                    @*Html.Partial("Delete", vmAlumno)*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEditar" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar</h4>
                </div>
                <div class="modal-body">
                    @*@Html.Partial("Edit", nuevoAlumno)*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<script src="~/Scripts/modalform.js"></script>