@model HospitalProyecto.Models.VMPaciente

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Paciente</h4>
	<hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.pacienteID)
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd id="nombre">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoP)
        </dt>

        <dd id="@Html.DisplayNameFor(model => model.apellidoP)">
            @Html.DisplayFor(model => model.apellidoP)
        </dd>

        <dt >
            @Html.DisplayNameFor(model => model.apellidoM)
        </dt>

        <dd id="@Html.DisplayNameFor(model => model.apellidoM)">
            @Html.DisplayFor(model => model.apellidoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd id="@Html.DisplayNameFor(model => model.telefono)">
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd id="@Html.DisplayNameFor(model => model.direccion)">
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pacienteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
