@model IEnumerable<HospitalProyecto.Models.Paciente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HospitalProyecto.Models.Paciente nuevoPaciente = new HospitalProyecto.Models.Paciente();
    HospitalProyecto.Models.VMPaciente vmPaciente = new HospitalProyecto.Models.VMPaciente(nuevoPaciente);

}

                   
 @*modal placeholder
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>*@

<div class="panel panel-primary">
    <div class="panel-heading"> Lista de Pacientes</div>

    <div class="panel-body ">
        @*<button id="#modalPaciente" class="btn btn-small btn-primary pull-right">Add</button>*@
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalPaciente" style="margin-top: 10px">Add</button>
    </div>

    @*<h2>Pacientes</h2>*@
    @*<button id="botonPrueba">Boton Nuevo</button>*@
    @*<p>
        @Html.ActionLink("Create New", "Create")
        </p>*@
    <table id="tablaPaciente" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.pacienteID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidoP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidoM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*@Html.RadioButton("seleccion", item.pacienteID)*@
                    <td>
                        @Html.DisplayFor(modelItem => item.pacienteID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidoP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidoM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>
                    <td>

                        <a id="enlaceDetalles" data-toggle="modal" data-target="#modalDetalles" pacienteid="@item.pacienteID">Details</a> |
                        <a id="enlaceBorrar" data-toggle="modal" data-target="#modalBorrar" pacienteid="@item.pacienteID">Delete</a> |
                        <a id="enlaceEditar" data-toggle="modal" data-target="#modalEditar" pacienteid="@item.pacienteID">Edit</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div id="modalDetalles" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalles</h4>
                </div>
                <div class="modal-body">
                    <!-- VISTA DE DETALLES DE ALUMNO-->
                    @Html.Partial("Details", vmPaciente);
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalBorrar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Delete", nuevoPaciente)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Edit", nuevoPaciente)
            </div>
            <div class="modal-footer">
                
                <button id="botonBorrar" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="modalPaciente" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registrando ando </h4>
            </div>

            <div class="modal-body">
                @Html.Partial("Create", nuevoPaciente)
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>


        </div>
    </div>
</div>

<script src="~/Scripts/modalform.js"></script>

